* {
	margin: 0;
	padding: 0;
	--widthImg: 500px;
	--transitionSlide: 0.5s ;
}

html {
	font-size: 62.5%;
}

h1 {
	text-align: center;
}

img {
	width: 100%;
	vertical-align: middle;
}

input {
	display: none;
}

label {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	border: 0.125rem solid rgb(0, 0, 0);
	background-color:rgb(102, 245, 255);
	cursor: pointer;
}

label:hover {
	background-color: black;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 10px auto;
	max-width: var(--widthImg);
}

.slider {
	overflow: hidden;
	position: relative;
	display: flex;
	width: 400%;
	height: 100%;
	/* border: 1px solid #000; */
}

.slide {
	width: 25%;
}

.container {
	overflow: hidden;
	display: flex;
	justify-content: space-between ;
	gap: 1rem;
}

.title_wrapper {
	display: flex;
	overflow: hidden;
}

.title {
	font-size: 2rem;
}

.radio_wrapper {
	display: flex;
	align-items: center;
}

p {
	width: var(--widthImg);
}

.radio, label {
	margin: 0 0.5rem;
}

#wrapper input:nth-of-type(1):checked~#slider,
#wrapper input:nth-of-type(1):checked~.container .title_wrapper {
	margin-left: 0%;
	transition: var(--transitionSlide);
}
#wrapper input:nth-of-type(2):checked~#slider,
#wrapper input:nth-of-type(2):checked~.container .title_wrapper {
	margin-left: -100%;
	transition: var(--transitionSlide);
}
#wrapper input:nth-of-type(3):checked~#slider,
#wrapper input:nth-of-type(3):checked~.container .title_wrapper {
	margin-left: -200%;
	transition: var(--transitionSlide);
}
#wrapper input:nth-of-type(4):checked~#slider,
#wrapper input:nth-of-type(4):checked~.container .title_wrapper {
	margin-left: -300%;
	transition: var(--transitionSlide);
}

#wrapper input:nth-of-type(1):checked~.container .radio_wrapper label:nth-of-type(1) {
	background-color: black;
}
#wrapper input:nth-of-type(2):checked~.container .radio_wrapper label:nth-of-type(2) {
	background-color: black;
}
#wrapper input:nth-of-type(3):checked~.container .radio_wrapper label:nth-of-type(3) {
	background-color: black;
}
#wrapper input:nth-of-type(4):checked~.container .radio_wrapper label:nth-of-type(4) {
	background-color: black;
}

#wrapper input:nth-of-type(1):hover~.container .radio_wrapper label:nth-of-type(1) {
	background-color: rgb(255, 23, 23);
}
#wrapper input:nth-of-type(2):hover~.container .radio_wrapper label:nth-of-type(2) {
	background-color: rgb(255, 23, 23);
}
#wrapper input:nth-of-type(3):hover~.container .radio_wrapper label:nth-of-type(3) {
	background-color: rgb(255, 23, 23);
}
#wrapper input:nth-of-type(4):hover~.container .radio_wrapper label:nth-of-type(4) {
	background-color: rgb(255, 23, 23);
}

@media (max-width: 767px) {
	.wrapper {
		width: 65%;
	}
	p {
		width: 65vw;
	}
	
}

@media (max-width: 480px) {
	.container {
		flex-direction: column-reverse;
		gap: 1rem;
	}
	.radio_wrapper {
		justify-content: center;
	}	
}
